%icon-button {
  cursor: pointer;
  padding: .4em;
  width: 2em;
  font-size: 1.3em;
  color: #fff;
  outline: 0;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  @media screen and (max-width: 800px) {
    padding: .2em;
    padding-top: .4em;
    width: 2em;
    font-size: 1em;
  }

  &:hover {
    top: -2px;
  }

  &:active {
    @include transition(all .1s);
    top: 5px;
  }
}

.facebook {
  @extend %icon-button;
  background-color: #44619c;
  box-shadow: 0 5px #35528c;

  &:hover {
    box-shadow: 0 7px #35528c;
  }

  &:active {
    box-shadow: 0 0 #35528c;
  }
}
.twitter {
  @extend %icon-button;
  background-color: #509abf;
  box-shadow: 0 5px #074f73;

  &:hover {
    box-shadow: 0 7px #074f73;
  }

  &:active {
    box-shadow: 0 0 #074f73;
  }
}
.google {
  @extend %icon-button;
  background-color: #d42020;
  box-shadow: 0 5px #a60000;

  &:hover {
    box-shadow: 0 7px #a60000;
  }

  &:active {
    box-shadow: 0 0 #a60000;
  }
}
