$main-font: 'Cambria', serif;
$main-bold-font: 'Cambria-Bold', sans-serif;
$title-font: 'HNC', sans-serif;
$code-font: 'Source Code Pro', ;
$footer-font: 'Ubuntu', sans-serif;
$background-color: #475059;
$wrapper-color: #717a82;
$under-color: #aeb9bf;

body {
  background-color: rgba(245, 245, 245, 0.98);
  @include main-font();
  padding: 1.5em;
  @media screen and (max-width:600px) {
    padding: .5em;
  }
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

a,
a:visited {
  color: $background-color;
  @include transition(all .3s ease);
  text-decoration: none;
  border-bottom: 1px dashed $background-color;

  &:hover {
    @include transition(all .3s ease);
    color: $wrapper-color;
    border-bottom: 1px dashed $wrapper-color;
  }
}