@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);
@import url(http://fonts.googleapis.com/css?family=Antic+Didone);
@font-face {
  font-family:"HNC";
  font-weight:100;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedUltraLight-b1643142.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedUltraLight-911598d6.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:200;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedThin-e8fd1378.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedThin-f9094e63.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:300;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedLight-bcd62347.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedLight-3a6fcb2e.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:400;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensed-a8bae095.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensed-59790d27.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:600;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedMedium-63796dcb.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedMedium-930f0aa0.ttf) format("truetype")
}
@font-face{
  font-family:"HNC";
  font-weight:700;
  src:url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedBold-572a7194.woff) format("woff"),
  url(https://s.flipboard.com/mags/fonts/HelveticaNeueCondensedBold-b45199ea.ttf)
}
