%meta{:charset => 'UTF-8'}
%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
%meta{:name => 'keywords', :content => 'distributed programming, management of programmers, project management'}
%meta{:name => 'description', :content => 'eXtremely Distributed Software Development'}
%link{:rel => 'shortcut icon', :href => '//img.xdsd.org/logo.png'}
%link{:rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'}
