<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="XDSD is a software development methodology that increases quality and reduces risks in distributed projects of almost any size" />
    <link rel="icon" type="image/gif" href="http://img.xdsd.org/favicon.gif">
    <link rel="shortcut icon" href="http://img.xdsd.org/favicon.gif" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.xdsd.org/rss"/>
    <link rel="author" href="https://plus.google.com/u/0/114792568016408327418?rel=author" />
    <meta name="keywords" content="software development methodology, distributed programming, outsourcing, XDSD, distributed software development, parallel programming, remote programming, software development methodology, extremely distributed software development, extreme programming, Agile, XP, PMBOK, project management, branching, revision control" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/syntax.css"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="top">
        <img src="http://img.xdsd.org/logo.png"/>
        eXtremely Distributed
        <span class="soft-style">Software Development</span>
    </div>
    <div class="wrapper">
      <div class="content">
        {{ content }}
      </div>
      <div class="footer">
        <div class="left">
          <img src="http://img.xdsd.org/logo.png" class="icon" />
        </div>
        <div class="right">
          860.506.5536<br/>
          <a href="mailto:join@xdsd.org">join@xdsd.org</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1963507-16']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
